@tailwind base;
@tailwind components;
@tailwind utilities;

.bannerMobile {
    background-image: url("./assets/img/banner-home-mobile.svg");
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-overlay {
    height: 85vh;
    top: 80px;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    background-color: white;
}

.background-user-page {
    background-image: linear-gradient(to top, #F1F3F5 0, #F1F3F5 80%, #4529E6 20%);
}

.background-product-page-mobile {
    background-image: linear-gradient(to top, #E9ECEF 0, #E9ECEF 86.5%, #4529E6 13.5%);
}

@media (min-width: 640px){
    .background-product-page-mobile {
        background-image: linear-gradient(to top, #E9ECEF 0, #E9ECEF 80%, #4529E6 20%);    
    }

    .background-user-page {
        background-image: linear-gradient(to top, #F1F3F5 0, #F1F3F5 90%, #4529E6 10%);
    }
}
